aiohttp==3.12.14
discord.py==2.5.2
python-dotenv==1.1.1
RapidFuzz==3.13.0
rich==14.0.0
pytest==8.4.1
pytest-asyncio==1.0.0
pillow==11.3.0
numpy==2.3.0
d20==1.1.2
google-api-python-client==2.176.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2