aiohttp==3.13.5
discord.py==2.7.1
davey==0.1.5
opencv-python==4.13.0.92
numpy==2.4.4
python-dotenv==1.2.2
pycolornames==1.1.0
RapidFuzz==3.14.5
rich==14.3.3
pytest==9.0.3
pytest-asyncio==1.3.0
pytest-benchmark==5.2.3
pillow==12.2.0
scikit-image==0.26.0
matplotlib==3.10.8
validators==0.35.0
thread==2.0.6
d20distribution @ git+https://github.com/pipieter/d20distribution@main
d20 @ git+https://github.com/pipieter/d20lenny@main