name: BENCHMARKS

on:
  pull_request:
    paths:
      - "benchmarks/**"
  workflow_dispatch:

jobs:
  benchmarks:
    runs-on: ubuntu-latest
    name: Run Benchmarks
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - uses: ./.github/actions/setup

      - name: Run pytest
        run: python -m pytest benchmarks/
